
{% if session['user_type'] == 'manager' %}
{% extends 'manager/manager_layout.html' %} 
{% elif session['user_type'] == 'admin' %}
{% extends 'admin/admin_layout.html' %} 
{% endif %}


{% block title %} Moa Creek Rural Supplies {% endblock %}
{% block css %}
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

{% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Accountholder Management</h1>
      <nav>
        <ol class="breadcrumb">
          {% set path = session.user_type ~ "." ~ session.user_type ~ "_dashboard" %}
          <li class="breadcrumb-item"><a href="{{ url_for(path) }}">Home</a></li>
          <li class="breadcrumb-item active">Accountholder Management</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <!-- Bordered Tabs -->
                  <h5 class="card-title">Manage Accountholder Credit Limit</h5>
  
                  <!-- Add Product Button -->
               
                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                            <tr>

                                    <th>Accountholder ID</th>

                                    <th>Accountholder Name</th>
                                    <th>Phone</th>
                                    <th>Register Date</th>
                                    <th>Current Credit Limit</th>
                                    <th>Remaining Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                <tr>

                                  <td><a href="{{ url_for('manager.customerorders', id = account.user_id) }}">{{ account.user_id }}</a></td>

                                  <td>{% if account.first_name %}      {{ account.first_name }} {%endif%}  {% if account.last_name %}  {{ account.last_name }} {%endif%} </td>
                                  <td>{{ account.phone }}</td>
                                  <td>{{ account.register_date|nzdate }}</td>
                                  <td>
                                    <form name="{{ account.user_id }}" action="{{ url_for('manager.accountholderManagement') }}" method="post" onsubmit="submitForm(event)">
                                        <div style="display: flex; align-items: center;">
                                            <span>$</span>
                                            <input type="hidden" name="user_id" id="user_id" value="{{ account.user_id }}">
                                            <input type="number" name="credit_limit" id="credit_limit" value="{{ account.credit_limit }}" min="0.01" step="0.01" max="10000.00" onblur="this.form.submit();" style="width: 80px; text-align: center;">
                                        </div>
                                    </form>
                                </td>
                                
                                  <td>${% if account.credit_used %} {{ account.credit_limit - account.credit_used}} {%else%} {{ account.credit_limit }}{%endif%}</td>
                              </tr>
                              
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

</main><!-- End #main -->


{% endblock %}
