{% extends 'manager/manager_layout.html' %} 
{% block title %} Moa Creek Rural Supplies Manager {% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>User Management</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('manager.manager_dashboard') }}">Home</a></li>
          <li class="breadcrumb-item active">User Management</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

        
<section class="section">
  <div class="row">
    <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Add New User</h5>
      <form action="/manager/manager_add_new_user" method="POST">
          
          <div class="row mb-3">
              <label for="role" class="col-sm-2 col-form-label">User Type: </label>
              <div class="col-sm-10">
                <select class="form-select" id="user_type" name="user_type" required>
                    <option value="customer">Customer</option>
                    <option value="staff">Staff</option>
                </select>
              </div>  
          </div>

          <!-- Common fields -->
          <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email: </label>
            <div class="col-sm-10">
              <input name="email" type="email" class="form-control" id="email" required>
            </div>
          </div>

          <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password: </label>
            <div class="col-sm-10">
              <input name="password" type="password" class="form-control" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long and have a mix of character types." required>
            </div>
          </div>
                                
          <div class="row mb-3">
            <label for="first_name" class="col-sm-2 col-form-label">First Name: </label>
            <div class="col-sm-10">
              <input name="first_name" type="text" class="form-control" id="first_name" pattern="[A-Za-z ]+" title="First name must contain only letters and spaces."  required>
            </div>
          </div>

          <div class="row mb-3">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name: </label>
            <div class="col-sm-10">
              <input name="last_name" type="text" class="form-control" id="last_name" pattern="[A-Za-z ]+" title="Last name must contain only letters and spaces." required>
            </div>
          </div>


          <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label">Phone: </label>
            <div class="col-sm-10">
              <input name="phone" type="tel" class="form-control" id="phone" pattern="[\d\s\-\+\(\)]{5,}" title="Phone number must be at least 5 characters long and in a valid format." minlength="8" maxlength="14" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  </div>
</section>

</main><!-- End #main -->

{% endblock %}

