{% extends 'customer/customer_layout.html' %} 
{% block title %} Moa Creek Rural Supplies Customer {% endblock %}
{% block content %}

{% block css %}
<!-- Jquery Ui -->
<link rel="stylesheet" href="{{ url_for('static', filename='customer/css/jquery-ui.css') }}">
{% endblock %}
	
<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="{{ url_for('common.home') }}">Home<i class="ti-arrow-right"></i></a></li>
						<li><a href="{{ url_for('customer.all_products') }}">Products<i class="ti-arrow-right"></i></a></li>
						<li class="active">Current Promotion Products</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->
    <!-- Start Body Area -->
		<!-- Slider Area -->
        <section class="hero-slider" style="max-height: 400px; overflow: hidden;">
			<!-- Single Slider -->
			<div class="single-slider">
				<div class="container-fluid">			
					<!-- Carousel -->
					<div id="demo" class="carousel slide" data-bs-ride="carousel">
						<!-- Indicators/dots -->
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
							{% for promotion in promotions %}
							<button type="button" data-bs-target="#demo" data-bs-slide-to="{{ loop.index }}"></button>
							{% endfor %}
						</div>
		
						<!-- The slideshow/carousel -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/static/promotion_image/New Zealand's Rural Excellence.jpeg" alt="promotion_image" class="d-block w-100" loading="lazy" style="max-height: 400px; object-fit: cover;">
								<div class="carousel-caption" style="bottom: 20px;">
									<div class="hero-text">
										<h1><span>UP TO 50% OFF </span>New Zealand's Rural Excellence</h1>
										<p>Visit our website to explore <br> our full range of premium<br> rural agricultural products. </p>
										<div class="button">
											<a href="{{ url_for('customer.customer_promotions') }}" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
							{% for promotion in promotions %}
							<div class="carousel-item">
								<img src="/static/promotion_image/{{promotion.promotion_image}}" alt="{{promotion.promotion_name}}" class="d-block w-100" loading="lazy" style="max-height: 400px; object-fit: cover;">
								<div class="carousel-caption" style="bottom: 20px;">
									<div class="hero-text">
										<h1><span>UP TO 50% OFF </span>{{promotion.promotion_name}}</h1>
										{% set words = promotion.promotion_description.split() %}
										<p>{{ ' '.join(words[:3]) }} <br> {{ ' '.join(words[3:]) }} </p>
										{% if promotion.status != 'Active' %}
                                        <p style="color: orange;">Coming Soon </p>
                                        {%endif%}
										<div class="button">
											<a href="{{ url_for('customer.customer_promotions') }}" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					
						<!-- Left and right controls/icons -->
						<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" style="background-color: rgba(0,0,0,0.5); border-radius: 50%;"></span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
							<span class="carousel-control-next-icon" style="background-color: rgba(0,0,0,0.5); border-radius: 50%;"></span>
						</button>
					</div>
				</div>					
			</div>
			<!--/ End Single Slider -->
		</section>
		
	<!-- Start Product Area -->
	<div class="product-area section" id="products">
		<div class="container-md">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Current Promotion Products</h2>
						<p style="color: red;">* All our products prices are GST inclusive<br> Contact us for NZ outer islands delivery</p>							
					</div>						
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="product-info">
						
						<div class="tab-content" id="myTabContent">
							<!-- Start Single Tab -->
							<div class="tab-pane fade show active" id="all" role="tabpanel">
								<div class="tab-single">
									<div class="row">
										{% for product in products %}
										<div class="col-xl-3 col-lg-4 col-md-4 col-12">
											<div class="single-product">
												<div class="product-img">
													<a href="{{ url_for('customer.customer_products', id=product.product_id) }}">
														
														{% if product.product_image_id %}
														<img class="default-img" src="/blueprints/static/product_image/{{product.product_image}}" alt="{{product.product_image}}" loading="lazy">

														<span class="special-icon">Special</span>
														{% else %}
														
														<img class="default-img" src="/blueprints/static/product_image/default-image.jpg" alt="{{default-image.jpg}}" loading="lazy">
														<span class="special-icon">Special</span>

														{% endif %}
												
													</a>
													<div class="button-head">
														<div class="product-action-2">
															<a title="Add to cart" onclick="addToCart('{{product.product_name}}',{{product.product_id}}, 1)">Add to cart</a>
														</div>
													</div>
												</div>
												<div class="product-content">
													<h3><a href="{{ url_for('customer.customer_products', id=product.product_id) }}">{{product.product_name}}</a></h3>
													<div class="product-price">
														{% if product.discounted_price == "buyOneGetOneFree" %}
														<span class="text-decoration-line-through">${{product.product_price}}</span>
														<h5 class="text-danger">Buy One Get One FREE</h5>
														{% elif product.discounted_price %}
														<span class="text-decoration-line-through">${{product.product_price}}</span>
														<h3 class="text-danger">${{product.discounted_price}}</h3>
														{% else %}
														<span>${{product.product_price}}</span>
														{% endif %}
														
													</div>
													
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<!--/ End Single Tab -->
							<!-- Start Single Tab -->
							{% for subcategory in subcategories %}
							<div class="tab-pane fade" id="{{subcategory.subcategory_id}}" role="tabpanel">
								<div class="tab-single">
									<div class="row">
										{% for product in products %}
										{% if subcategory.subcategory_id == product.subcategory_id %}
										<div class="col-xl-3 col-lg-4 col-md-4 col-12">
											<div class="single-product">
												<div class="product-img">
													<a href="{{ url_for('customer.customer_products', id=product.product_id) }}">
														{% if product.product_image_id %}
														<img class="default-img" src="/blueprints/static/product_image/{{product.product_image}}" alt="{{product.product_image}}" loading="lazy">
														{% else %}
														<img class="default-img" src="/blueprints/static/product_image/default-image.jpg" alt="{{default-image.jpg}}" loading="lazy">												
														{% endif %}
													</a>
													<div class="button-head">
													
														<div class="product-action-2">
															<a title="Add to cart" onclick="addToCart('{{product.product_name}}',{{product.product_id}}, 1)">Add to cart</a>
														</div>
													</div>
												</div>
												<div class="product-content">
													<h3><a href="{{ url_for('customer.customer_products', id=product.product_id) }}">{{product.product_name}}</a></h3>
													<div class="product-price">
														{% if product.discounted_price %}
														<span class="text-decoration-line-through">${{product.product_price}}</span>
														<h3 class="text-danger">${{product.discounted_price}}</h3>
														{% else %}
														<span>${{product.product_price}}</span>
														{% endif %}
														
													</div>
												
												</div>
											</div>
										</div>
										{% endif %}
										{% endfor %}		
									</div>
								</div>
							</div>
							{% endfor %}
							<!--/ End Single Tab -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End Product Area -->
<script>


</script>
	
{% block js %} 
<!-- Fancybox JS -->
<script src="{{ url_for('static', filename='customer/js/facnybox.min.js') }}"></script>
<!-- Ytplayer JS -->
<script src="{{ url_for('static', filename='customer/js/ytplayer.min.js') }}"></script>

{% endblock%}

{% endblock %}